<%- include('partials/header') -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
  <label>Title</label>
  <input class="form-control"type="text" name="postTitle"  autocomplete="off">
  <br>
  <label>Post</label>
  <textarea class ="form-control"rows="5" cols="150" name="postBody"  autocomplete="off"></textarea>
 </div>
 <button class = "btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer') -%>